<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris model</title>
</head>
<body>
<form action="/iris" class="form-group"
      method="post">
    <div class="row">
        <p>Enter sepal length (cm):</p>
        <p><input type="text" name="sl"/></p>
    </div>
    <div class="row">
        <p>Enter sepal width (cm):</p>
        <p><input type="text" name="sw"/></p>
    </div>
    <div class="row">
        <p>Enter petal length (cm):</p>
        <p><input type="text" name="pl"/></p>
    </div>
    <div class="row">
        <p>Enter petal width (cm):</p>
        <p><input type="text" name="pw"/></p>
    </div>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>
